.stopwatch {
  text-align: center;
  padding:25px;
  .stopwatch-dial{
    font-size:58px;
    padding-top:0;
    margin-top:0;
  }
  .center-text {
    text-align:center;
  }
}

ion-card-title {
  font-size:18px;
}

.listScroll {
  margin-top:-20px;
  height: calc(100vh - (56px + 267px) - 20px) !important;
  overflow: auto !important;
}


ion-list {
  margin:0;
  padding:0;
  ion-icon {
    font-size:24px;
  }

}


ion-reorder-group {
  > ion-item {
    margin-left: -16px;
    ion-item-sliding {
      ion-item-options{
        ion-item-option{
          ion-icon {
            font-size:24px;
            padding:0 10px;
          }
        }
      }
      ion-item{
      }
    }
  }
}

.small-text {
  font-size:14px;
  color:#666666;
  padding:0 10px;

}


ion-list-header {
  ion-label {
    font-size:24px;
  }
}
